# General
.DS_Store
*.log

# Backend
backend/venv/
backend/__pycache__/
backend/*.db
backend/.env
backend/.pytest_cache/
backend/*.sqlite3

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store
